node_modules
dist
dist-ssr
*.local
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.min.js
*.min.css
coverage
*.config.ts
*.config.js
*.config.cjs
vite-env.d.ts
